.badge.bg-purple {
  background-color: #6f42c1;
}

.border-purple {
  border: 2px solid #6f42c1 !important;
}

.product-name,
.product-desc {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.product-name {
  -webkit-line-clamp: 2;
  font-size: 1rem;
  text-overflow: ellipsis;
}

.product-desc {
  -webkit-line-clamp: 2;
}

/* Featured products carousel */
.featured-card {
  min-width: 140px;
  max-width: 160px;
  border: 1px solid #6f42c1;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.featured-card:hover {
  transform: scale(1.03);
}

.product-card {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s;
}

.product-card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.featured-card .card-img-top {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  height: auto;
  border-radius: 8px;
}

.featured-title {
  font-size: 0.85rem;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  min-height: 2.8em;
}
[data-bs-theme="dark"] .product-card.bg-light {
  background-color: #1f1f1f !important;
}
