{% extends 'base.html' %}
{% import 'components/input.html' as forms %}
{% import 'components/button.html' as btn %}
{% block content %}
<div class="max-w-md mx-auto my-16 card">
  <h2>Registro</h2>
  <form method="post" class="space-y-4">
    {{ forms.input('username', placeholder='Usuario') }}
    {{ forms.input('email', type='email', placeholder='Email') }}
    {{ forms.input('password', type='password', placeholder='Contraseña') }}
    {{ btn.button('Registrar', type='submit') }}
  </form>
</div>
{% endblock %}
