<div class="modal fade" id="shortcutHelpModal" tabindex="-1" aria-labelledby="shortcutHelpLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shortcutHelpLabel">Atajos de teclado</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <ul class="list-unstyled">
          <li><kbd>Shift</kbd> + <kbd>H</kbd> - Inicio</li>
          <li><kbd>Shift</kbd> + <kbd>N</kbd> - Nueva publicación</li>
        </ul>
      </div>
    </div>
  </div>
</div>

