<div class="list-group sidebar">
  <a class="list-group-item list-group-item-action" href="{{ url_for('auth.perfil') }}"><i class="bi bi-person mr-2"></i>Mi perfil</a>
  <a class="list-group-item list-group-item-action" href="{{ url_for('notes.list_notes') }}"><i class="bi bi-journal-text mr-2"></i>Mis apuntes</a>
  <a class="list-group-item list-group-item-action" href="{{ url_for('notes.upload_note') }}"><i class="bi bi-upload mr-2"></i>Subir apunte</a>
  <a class="list-group-item list-group-item-action" href="#"><i class="bi bi-star mr-2"></i>Favoritos</a>
  <a class="list-group-item list-group-item-action" href="#"><i class="bi bi-people mr-2"></i>Clubes</a>
</div>
